<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Platinum Arena</title>

    @* google fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    @* load tailwind *@
    <base href="~/" />
    <link href="~/css/app.min.css" rel="stylesheet" />

    @* load font-awesome icons *@
    <script src="https://kit.fontawesome.com/bfb24335ca.js" crossorigin="anonymous"></script>

</head>

<body>
    @await Html.PartialAsync("Layouts/_Navbar")

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("Layouts/_Footer")


    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>